:root {
    --main-color: #673DE6;
    --primary-color: #FC5185;
    --icon-color: #E1E1E1;
    --header-font: 'Poppins', sans-serif;
    --regular-font: 'Inter', sans-serif;
    --main--text-color: #2f1c6a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

/* hero section starts */
.hero_section {
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero_right_div {
    width: 46%;
    text-align: right;
    padding: 0rem 8rem 0 0;
}

.hero_h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
}

.hero_p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin: 24px 0 53px;
}

.hero_btn {
    background: #F15B22;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 21px;
    border: none;
}

/* hero section -----ends---- */

/* failure section starts */
.feature_section {
    display: flex;
    margin: 70px 120px;
    align-items: center;
}

.feature_img_div>img {
    width: 569px;
    height: 723.3px;
}

.feature_text_div {
    padding: 0 97px;
}

.feature_text_div h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.feature_text_div p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin: 24px 0 16px;

}

.feature_text_div ul li {
    margin: 8px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.feature_text_div ul li .icon {
    color: #16D887;
    padding: 0 7px;
}

/* failure section -----ends---- */
/*   soltion section starts */
.soltion {
    margin: 90px;
    background-image: url("images/plans_overlay.png");
}

.soltion h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
}

.soltion .soltion_div {
    display: flex;
}

.soltion .soltion_div .left_side {
    padding: 50px;
    text-align: right;
}

.soltion .soltion_div .middle_side>img {
    width: 100%;
    padding-top: 50px;
    height: 100%;
}

.soltion .soltion_div .right_side {
    text-align: left;
    padding: 50px;
}

.soltion .soltion_div h6 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

.soltion .soltion_div p {
    color: #737272;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}

/* soltion section -----ends---- */


/* pllans section starts */
.plans_section{
    margin: 90px 0;
}
.plans_section h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
}

.plans_section .plans_cat {
    display: flex;
    margin:30px 70px;
}

.plans_section .plans {
    padding: 6px;
    margin: 0 35px;
}

.plan_img {
    display: flex;
    justify-content: center;
}

.plans_section .plans h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.plans_section .plans p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* pllans section -----ends---- */
/* cta section starts */

.cta_section {
    background-image: url("images/gradient2.png"), url("images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 230px;
}

.cta_text_div {
    padding: 45px ;
    width: 70%;
}

.cta_section .cta_text_div h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.cta_section .cta_text_div .cta_btn {
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
    border: none;
    padding: 18px;

}

/* cta section --end-- */

/* footer section starts */
footer {
    background: #151414;
    margin-top: 130px;
}

footer .footer_div {
    display: flex;
    justify-content: center;
    padding: 150px;
}

footer .footer_div .footer_right_side {
    width: 50%;
}

footer .footer_div .footer_right_side>h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}

footer .footer_div .footer_right_side>p {
    margin: 16px 0 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

footer .footer_div .footer_right_side h4 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

footer .footer_div .footer_right_side .social_icon {
    margin-top: 32px;
}

footer .footer_div .footer_left_side {
    width: 50%;
    display: flex;
    justify-content: center;
}

footer .footer_div .footer_left_side h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

footer .footer_div .footer_left_side form input[type=text] {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 325px;
    height: 64px;
    background: none;
}

footer .footer_div .footer_left_side form input[type=submit] {
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F15B22;
    padding: 20px;
    margin-top: 16px;
}

::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    padding-left: 21px;
}

/* footer section --end-- */